body {
background-color: #CF04D9;
}


div#pink-2 {
height: 0px;
width: 0px;
background-color: #CF04D9;
border-radius: 50%;
animation: bubble 15s infinite, bounce 1s infinite, padding-wiggle 1s infinite;
animation-direction: alternate;
opacity: 65%;
float: left;
position: relative;
box-shadow: inset 0px 0px 200px 30px #F78AFD;
}


div#pink-3 {
height: 0px;
width: 0px;
background-color: #CF04D9;
border-radius: 50%;
animation: bubble 15s infinite, bounce 2s infinite, padding-wiggle 2s infinite;
animation-direction: alternate;
opacity: 65%;
float: left;
position: relative;
box-shadow: inset 0px 0px 100px 30px #F78AFD;
}

div#pink-4 {
height: 0px;
width: 0px;
background-color: #CF04D9;
border-radius: 50%;
animation: bubble 15s infinite, bounce 5s infinite;
animation-direction: alternate;
opacity: 65%;
float: left;
position: relative;
box-shadow: inset 0px 0px 100px 30px #F78AFD;
}

@keyframes padding-wiggle {
from { padding-left: 80px;
padding-top: 95px;}
to { padding-left: 120px;
padding-top: 100px;}  
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 400px, 0); }
}


@keyframes bubble {
  from {
    height: 20px;
width: 10px;
  }
  to {
    height: 400px;
width: 400px;
  }
}

