body {
  margin: 0px;
  font-family: 'Inconsolata', monospace;
  /* background-color: #ffffff; */
  background-image: url("ersatzGirl/IMG_1294.png");
  height: 800px;
  width: 600px;
  background-blend-mode: screen;
  animation: animatedBackground 30s linear infinite;
  animation-direction: alternate-reverse;
  transform: rotate(20deg);
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 50% 50%; }
}

.container {
  position: relative;
  width: 70%;
  top: 65%;
  left: 60%;
  opacity: 85%;
  transform: translate(-50%, -50%);

}

.toc-container {
  background: #DDE8EC;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 32px;
  line-height: 32px;
  font-size: 22px;
  border-radius: 2%;
  position: relative;
  box-shadow: inset 5px 5px 15px #000000
  /* inset -5px -5px 10px blue; */
}

.header {
  text-transform: uppercase;
  /* font-weight: 600; */
  color: black;
  height: 10%;
  /* margin:5px; */
  font-family: 'Kosugi Maru', sans-serif;
  text-align: center;
  margin-bottom: 0px;

}

ul {
  margin: 0px;
}

h3 {
  margin-top: 0px;
  color: rgb(45, 147, 152);
}

ul li {
  list-style-type: decimal-leading-zero;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

li#click {
  color: rgb(165, 39, 9);
}


a:hover {
  text-decoration: underline;
  background-color: #A2C724;
}
